<h1>Mapas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mapas.each do |mapa| %>
      <tr>
        <td><%= mapa.nome %></td>
        <td><%= link_to 'Exibir', mapa %></td>
        <td><%= link_to 'Editar', edit_mapa_path(mapa) %></td>
        <td><%= link_to 'Deletar', mapa, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo mapa', new_mapa_path %>
